{% extends 'base.html' %}

{% block content %}
    <h3 class = 'text-center'><strong>Ваша корзина</strong></h3>
<br>
<table class ='table'>
<tr>
    <td class ='text-center'><strong>Наименование</strong></td>
    <td class ='text-center'><strong>Количество</strong></td>
    <td class ='text-center'><strong>Цена</strong></td>
    <td class ='text-center'><strong></strong></td>
    <td class ='text-center'></td>
</tr>
{% for item in cart.items.all %}
<tr>
    <td class ='text-center'>{{ item.product.title }}</td>
    <td class ='text-center'>{{ item.qty }}</td>
    <td class ='text-center'>{{ item.item_total }} руб.</td>
    <td class ='text-center'><a href="{% url "remove_from_cart" product_slug=item.product.slug %}"><button class = 'btn btn-default'>Удалить из корзины</button></a> </td>
</tr>
{% endfor %}

<tr>
    <td class="text-center">Итого:</td>
    <td></td>
    <td class="text-center"><strong>{{ cart.cart_total }} руб.</strong></td>
    <td class="text-center"></td>
</tr>
</table>
<br>
<a href="{% url "checkout" %}" class="pull-right"><button class="btn btn-info">Предварительный заказ</button> </a>


{% endblock content %}