{% extends 'base.html' %}

{% block content %}
<div class="col-sm-12">
<h2><strong>Доставка</strong></h2>
<hr>
<h4><strong>Самовывоз</strong></h4>
<h5>Оформите заказ, мы доставим его в наш офис . Перед покупкой Вы сможете лично взглянуть на товар.</h5>
<br>
<h4><strong>По Минску и в 5 км от МКАД</strong></h4>
<h5>Доставим ваш заказ за 2-5 дня с момента его подтверждения в удобное вам время и место.</h5>
<h5>7 руб. – при заказе до 250 руб.</h5>
<h5>Бесплатно – при заказе от 250 руб.</h5>
<br>
<h4><strong>В другие города Беларуси</strong></h4>
<h5>7 руб. – доставка осуществляется наложенным платежом посредством РУП «Белпочта» в течение 3-7 дней.</h5>
<br>
<h4><strong>Доставка в Россию</strong></h4>
<h5>Осуществляется при оплате картой. Каждый заказ обрабатывается в индивидуальном порядке.</h5>
<br>

{% endblock %}
