{% extends 'base.html' %}

{% block content %}
<div class="col-sm-12">
<h2><strong>Рассрочка</strong></h2>
<hr>
<h3><strong>Рассрочка от ВТБ</strong></h3>
<br>
<h4>В нашем магазине Вы можете оформить рассрочку на товар</h4>
<br>
<h5> * Размер процентной ставки – 0,0001% годовых от остатка задолженности</h5>
<h5> * На срок до 6 месяцев</h5>
<h5> * Без первоначального взноса</h5>
<h5> * На сумму от 50 до 5000 рублей</h5>
<h5> * Банк имеет право принимать решение о предоставлении или об отказе в предоставлении рассрочки</h5>
<hr>
<br>
<h3><strong>Покупка в кредит от ВТБ</strong></h3>
<br>
<h5> * Размер процентной ставки - 26,9% годовых от остатка задолженности (переплата за год 15%).</h5>
<h5> * На срок от 3 до 36 месяцев с правом досрочного погашения и уплатой % за фактическое время пользования кредитом.</h5>
<h5> * Без первоначального взноса</h5>
<h5> * На сумму от 50 до 5000 рублей</h5>
<h5> * Банк имеет право принимать решение о предост </h5>
<hr>
<br>
<h3><strong>Для оформления рассрочки (кредита) Вам необходимо: </strong></h3>
<br>
<h5> * Паспорт гражданина Республики Беларусь или вид на жительство на территории Республики Беларусь.</h5>
<h5> * Возраст Заявителя не менее 21 года и не более 64 лет (на момент подачи заявления на получение кредита в банк), а при предоставлении кредита на срок до 12 месяцев включительно, не более 69 лет (на момент подачи заявления на получение кредита в банк) </h5>
<hr>
<br>
 <h3><strong>Оплата кредита осуществляется</strong></h3>
<br>
<h5> * В отделениях ЗАО Банк ВТБ (Беларусь)</h5>
<h5> * В отделениях РУП "Белпочта"</h5>
<h5> * В системе рассчета ЕРИП</h5>
<h5> * С использованием системы Интернет-Банкинг</h5>
<h5> * Через инфокиоски</h5>
<hr>
<br>

{% endblock %}
